<div class="container-header-artpieces">
  <div class="header-center">
    <h2> Explore the most beautiful artworks available to rent.</h2>
    <p> FindArt has an extensive selection of artworks. From the most popular artist to rare pieces you could only find here. Browse our collection and select what appeals you the most! </p>
  </div>
</div>


<div class="container-home-cards">
  <%= render "shared/cards" %>
</div>
