<div class="container-myartpieces">
  <h2>My Artpieces</h2>
  <p> Get updates about the renting requests you received. </p>
</div>
  <div class="container-show-artpiece">
    <div class="wrapper-show-description">
      <%= render "shared/cards_my_artpieces" %>
    </div>
  </div>
