// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// FindArt color palette:
$dark-green: #006D77;
$light-green: #83C5BE;
$light-blue: #EDF6F9;
$beige: #FFDDD2;
$dark-beige: #E29578;
