.art-piece-header {
  margin-left: 150px;
  font-weight: bold;
  text-decoration: none;
  color: $gray;
}

.header-center{
  margin: 50px 250px 20px 250px;
  text-align: center;
  width: 900px;
}

.container-header-artpieces{
  background-color: #F8F9FA;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

// Main styles
.search-form form {
  position: relative;
  width: 30rem;
}
