.art-piece-header {
  margin-left: 150px;
  font-weight: bold;
  text-decoration: none;
  color: $gray;
}

.header-center{
  margin: 50px 250px 50px 250px;
  text-align: center;
  width: 900px;
}

.container-header-artpieces{
  //background-color: #F8F9FA;
  background-color: $beige;
}

.wrapper-index-cards {
  margin-left: 20px;
  margin-right: 5px;

  h2{
    font-family: $headers-font;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
  }
}


// search bar
.search-form {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50rem;
}

.container-index{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background-color: $light-gray;
}

#query {
  margin-right: 20px;
}

#style {
  margin-right: 20px;
}

.mapboxgl-map{
  width: 600px;
  height: 100vh;
  position: sticky !important;
  top: 0;
}

// Alert message
.alert{
  position: static;
}
