.art-piece-header {
  margin-left: 150px;
  font-weight: bold;
  text-decoration: none;
  color: $gray;
}

.header-center{
  margin: 50px 250px 20px 250px;
  text-align: center;
  width: 900px;
}

.container-header-artpieces{
  background-color: #F8F9FA;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.wrapper-index-cards {
  margin-left: 50px;
  margin-right: 50px;

  h2{
    font-family: $headers-font;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
  }
}


// search bar
.search-form {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: 30px;
  width: 25rem;
}

.container-index{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}


.wrapper-mapbox {

}
.mapboxgl-map{
  width: 600px;
  height: 100vh;
  position: sticky !important;
  top: 0;
}
