.container-home-banner{
  display: flex;
  justify-content: space around;
  background-color: #ffd6ba;
  align-items: center;
}// Specific CSS for your home-page

.banner-home-img{
  margin: 50px 0 100px 50px ;
  img {
    border-radius: 8px;
  }
}

.banner-home-text{
  margin-left: 100px;
}

.container-home-cards {
  margin-left: 100px;
  margin-top: 20px;
}
