.container-mybookings{
  margin: 50px 0 0 80px;

  h2{
    margin-bottom: 20px;
  }
}


#bookings-number{
  margin-bottom: 20px;
}

.container-card-bookings{
  overflow: hidden;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 16px;
  box-sizing: content-box;

  img{
    width: 120px;
    height: 100%;
    object-fit: cover;
  }
}

.container-card-top{
  display: flex;
  flex-direction: row;
  height: 160px;
  align-items: center;
}

.container-card-bottom{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container-incoming-booking{
  display: flex;
  flex-direction: row;
  line-height: 16px;
  justify-content: space-between;
  border-bottom: 1px solid $dark-green;
  margin-top: 20px;
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
  }
}

.booking-left {
  display: flex;
  flex-direction: row;
}

.booking-accepted {
  color: $green;
}

.wrapper-booking-info{
  padding: 16px;

  span{
    font-weight: bold;
  }
}
