<!-- styling needs to be added, just basic skeleton for now -->


<h1>Please take a look at all the art we have to offer!<h1>
<% @artpieces.each do |artpiece| %>
<h2><%= @artpiece.name %></h2>
<h2><%= @artpieces.rating</h2>
