<div class="container-fluid d-flex flex-row align-items-center justify-content-between bg-light p-2 footer">
  <p>Web site by FindArt Team</p>
  <ul class="d-flex flex-row justify-content-between footer-icons align-items-end">
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </ul>
</div>
