<div class="container-home-banner">

  <div class="banner-home-text">
    <h1> Rent artworks to make your place shine </h1>
    <p> Find unique pieces and impress your friends </p>
    <button class="home-button"> Start exploring </button>
  </div>

  <div class="banner-home-img">
     <%= image_tag("canvas.png") %>
  </div>

</div>

<div class="container-home-cards">

<h2> Get inspired by the most popular artworks </h2>

</div>
