<div class="container-home-banner">

  <div class="banner-home-text">
    <h1> Rent artworks to make your place shine </h1>
    <p> Find unique pieces and impress your friends </p>
    <button class="home-button"> Start exploring </button>
  </div>

  <div class="banner-home-img">
    <img src="https://images.unsplash.com/photo-1602532262454-d18bf4c4e0af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="paint on a canva" width= 300 height= 400>
  </div>

</div>

<div class="container-home-cards">

<h2> Get inspired by the most popular artworks </h2>

</div>
