<div class="container-home">

  <div class="container-content-banner">

    <div class="banner-home-text">
      <h1> Rent artworks to <br> make your place shine </h1>
      <p> Find unique pieces and impress your friends </p>
      <%= link_to 'Start exploring' , art_pieces_path(@restaurant), class: "btn btn-primary rounded-3" %>
    </div>

    <div class="banner-home-img">
      <%= image_tag("findart-banner-image.png") %>
    </div>

  </div>

  <div class="custom-shape-divider-bottom-1650582608">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>

</div>

<div class="container-home-cards">

  <h2> Get inspired by the most popular artworks </h2>
  <%= render "shared/cards" %>
</div>
