<ul>
  <% @offers.each do |offer| %>
    <% if offer.user == current_user %>
      <li><%= "#{offer.user.first_name} #{offer.user.last_name} - #{offer.art_piece.title} by #{offer.art_piece.artist}" %></li>
    <% end %>
  <% end %>
</ul>
