.grid-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 50px;
}

// FOR INDEX PAGE
.card {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.card:hover{
  transform: scale(1.03);
  z-index: 3;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

  img{
    opacity: 0.9;
  }
}

.card-overview:hover{
  transform: scale(1.03);
  z-index: 3;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

  img{
    opacity: 0.9;
  }
}

// ONLY FOR HOME PAGE AND SHOW PAGE
.card-overview {
  width: 350px;
  border: rgb(238, 238, 238) 1px solid;
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.card-text-upper {
  padding: 20px 12px 0 12px;
}

.card-text-lower {
  padding: 0 12px 20px 12px;
}

.card-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-user-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  flex: none;
}

.card-categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  gap: 20px;

  p {
    padding: 4px 12px;
    background-color: $light-blue;
    border-radius: 4px;
  }
}

.card-title {
  font-weight: bold;
  text-decoration: none;
  color: $gray;
}

.card-price {
  font-weight: 300;
  font-size: 16px;
}
