
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  font-size: 20px;
  margin-top: auto;
}

.footer-icons {
  i {
    width: 75px;
    font-size: 32px;
    text-align: end;
  }
}
