.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-end-avatar {
  margin: 0 12px;
}

.navbar-bold {
  font-weight: bold;
}

.icon-navbar {
  font-size: 24px;
  color: $dark-green;
  &:hover {
    cursor: pointer;
  }
}
